<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Lato:ital,wght@0,400;1,700;1,900&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body >
    <div id="app">
        <div id="body-background">
            <div id="wrapper" class="clearfix">
                <div class="container left-cont">
                    <div class="sub-header"> 
                        <div class="avatar">
                            <div class="round">
                                <img src="img/avatar_io.jpg" alt="avatar_io">
                            </div>
                            <div class="text">
                                <h4>Nome Utente</h4>
                            </div>
                        </div>
                        <div class="options">
                            <button class="btn"><i class="fas fa-circle-notch"></i></button>
                            <button class="btn"><i class="fas fa-comment-alt"></i></button>
                            <button class="btn"><i class="fas fa-ellipsis-v"></i></button>
                        </div>
                    </div>
                    <div class="sub-main">
                        <div id="notification">
                            <div class="avatar">
                                <div class="round">
                                    <i class="fas fa-bell-slash"></i>
                                </div>
                                <div class="text">
                                    <h5>Ricevi notifiche di nuovi messaggi</h5>
                                    <span>Attiva notifiche desktop</span>
                                </div>
                            </div>
                        </div>
                    <div id="contacts-selector">
                        <div id="searchbar">
                            <label for="searchB">
                                <i class="fas fa-search"></i>
                            </label>
                            <!-- carica nel vue data il nome cercato -->
                            <input v-model="searchedContact"
                            type="text" name="searchB" placeholder="Cerca o inizia una nuova chat">
                        </div>
                        <div class="contact-list" >
                            <!-- crea gli elementi contact ma li mostra solo se sono stati cercati o non è stata fatta una ricerca, se viene cliccato cambia colore e viene impostato come il contatto attivo -->
                            <div v-for="(item,index) in contacts" 
                            v-if="showRequest(item)"
                            class="contact clearfix"
                            :class="{'active' : index === activeContact }"
                            @click="setActive(index)">
                                
                                <div class="round">
                                    <img :src= `img/avatar${item.avatar}.jpg` :alt=`avatar${item.avatar}`>
                                </div>
                                
                                <div class="text">
                                    <p>{{item.name}}</p>
                                    <span class="data">{{getLastDate(item)}}</span>
                                    <span class="last-msg">{{getLastMessage(item)}}</span>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="container right-cont">
                    <div class="sub-header">
                        <div class="avatar">
                            <div class="round">
                                <img src="img/avatar_io.jpg" alt="avatar_io">
                            </div>
                            <div class="text">
                                <h5>Nome Utente</h5>
                                <span>Ultimo accesso: {{getDate()}}</span>
                            </div>
                        </div>
                        <div class="options">
                            <button class="btn"><i class="fas fa-search"></i></button>
                            <button class="btn"><i class="fas fa-paperclip"></i>
                                </button>
                            <button class="btn"><i class="fas fa-ellipsis-v"></i></button>
                        </div>
                    </div>
                    <div class="sub-main">
                        <!-- crea i messaggi sulla base di messages del contatto attivo, usa il valore di status per aggiungere la classe con lo stesso valore (sent -> .sent) -->
                        <div v-for="(messaggio, index) in contacts[activeContact].messages"
                        class="message"
                        :class="messaggio.status">
                            <div class="clearfix">
                                <p>{{messaggio.message}}</p>
                                <div class="drop-down">
                                    <div class="drop-down-click">
                                        <!-- cliccando qui mostra il menu dropdown -->
                                        <i @click="showMenu(index)" class="fas fa-chevron-down"></i>
                                    </div>
                                    <div class="drop-down-menu">
                                        <div><span>Message Info</span></div>
                                        <!-- cliccando qui si viene cancellato il messaggio -->
                                        <div @click="removeMsg(index)"><span>Delete Message</span></div>
                                    </div>
                                </div>
                                
                                <span>{{messaggio.date}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="sub-footer">
                        <button class="btn dark"><i class="far fa-smile"></i></button>
                        <!-- quello che è scritto qui viene inserito nei data e clickando enter viene ne creato un messaggio -->
                        <input v-model="newMessage"
                        @keyup.enter="sendMessage()" 
                        type="text" placeholder="Scrivi un messaggio">
                        <button class="btn dark"><i class="fas fa-microphone"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.7/plugin/customParseFormat.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>
</html>